<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico' ) }}" type="image/x-icon">
    <title>{% block title %}{% endblock %} - TaskFlowr🌼</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img width="45px" height="auto" src="{{ url_for('static', filename='icons8-todo-list-arcade-96.ico' ) }}" alt="logo">
              <!-- <h2 style="padding-top: 8px;">TaskFlowr🌼</h2> -->
            </a>
          </div>
          
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" id="tasks" class="nav-link px-4">Tasks</a></li>
            <li><a href="/features" id="features" class="nav-link px-2">Features</a></li>
            <li><a href="/faqs" id="faqs" class="nav-link px-2">FAQs</a></li>
            <li><a href="/about" id="about" class="nav-link px-2">About</a></li>
          </ul>
          
          <div class="col-md-3 text-end">
            {% if g.user %}
              <span class="h5 mx-4 align-middle">Hi, {{ g.user['username'] }}</span>
              <a class="btn btn-outline-danger" href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
              <a class="btn btn-primary mx-2 mb-1" href="{{ url_for('auth.register') }}">Register</a>
              <a class="btn btn-outline-primary" href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </div>
        </header>
      </div>
    {% block body %}
        
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

